astropy
babel
bs4
gspread
IPython
jaraco.collections
matplotlib
numpy
nycflights13
palmerpenguins
pandas
pandas-access
pandas_access
pillow
pip
pip-chill
pipdeptree
plotly
plotnine
polars
pyreadr
requests
scikit-learn
seaborn
skimpy
statsmodels
tabulate
tomli
wheel
