astropy
babel
bs4
dotenv
fake-useragent
gapminder
gspread
hammock-plot
html2text
html5lib
inflect
ipdb
IPython
jaraco-functools
jpype1
keyring
lxml-html-clean
matplotlib
msgpack
nbclient
numpy
nycflights13
openai
palmerpenguins
pandas
parse
pdf2image
pdfplumber
pillow
pip
pip-chill
pipdeptree
plotly
plotnine
polars
pymer4
pyppeteer
pyquery
pyreadr
pysocks
pytesseract
quartodoc
requests
requests-oauthlib
scipy
seaborn
selenium
skimpy
statsmodels
sympy
tabulate
tenacity
tomli
w3lib
wheel
