altair
astropy
babel
bs4
gapminder
gspread
IPython
jaraco.collections
lxml
matplotlib
numpy
nycflights13
openai
palmerpenguins
pandas
pandas-access
pandas_access
pillow
pip
pip-chill
pipdeptree
plotly
plotnine
polars
pyreadr
python-dotenv
quartodoc
requests
scipy
seaborn
skimpy
statsmodels
tabulate
tenacity
tomli
wheel
