astropy
babel
bs4
gapminder
gspread
hammock-plot
html2text
html5lib
inflect
IPython
jaraco.collections
lxml
matplotlib
nbclient
numpy
nycflights13
openai
palmerpenguins
pandas
pandas-access
pandas_access
pillow
pip
pip-chill
pipdeptree
plotly
plotnine
polars
pymer4
pyreadr
python-dotenv
quartodoc
requests
requests_html
scipy
seaborn
skimpy
statsmodels
sympy
tabulate
tenacity
tomli
wheel
