/*-- scss:defaults --*/
$advanced: #6610f2 !default;
$advanced-icon: "\f19d" !default;
$advanced-light: #c29ffa !important
/*-- scss:rules --*/

.callout-advanced {
  margin: 1em 0;
  border: 2px solid $advanced;
  border-left: 10px solid $advanced;
  border-radius: 10px;
}

.callout-advanced-header {
  margin-left: 0em;
  padding-left:  60px;
  padding-top:  5px;
  padding-bottom: 0.1em;
  background-color: $advanced-light;
  border-top-right-radius: 10px;
  font-size: 1em;
  font-weight: bold;
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 15px center;
  background-image: url("build_deps/gears-solid.svg");
}

.callout-advanced-container {
  padding-top: 5px;
  padding-left: 10px;
  border-bottom-right-radius: 10px;
}