/* CSS HEX */
:root {
--red-salsa: hsla(359, 94%, 62%, 1);
--orange-red: hsla(21, 89%, 56%, 1);
--yellow-orange-color-wheel: hsla(33, 94%, 55%, 1);
--mango-tango: hsla(20, 94%, 63%, 1);
--maize-crayola: hsla(42, 93%, 64%, 1);
--pistachio: hsla(94, 38%, 59%, 1);
--zomp: hsla(162, 43%, 46%, 1);
--cadet-blue: hsla(178, 30%, 43%, 1);
--queen-blue: hsla(208, 25%, 45%, 1);
--cg-blue: hsla(198, 61%, 39%, 1);
--red-salsa-bg: hsla(359, 94%, 62%, .2);
--orange-red-bg: hsla(21, 89%, 56%,.2);
--yellow-orange-color-wheel-bg: hsla(33, 94%, 55%,.2);
--mango-tango-bg: hsla(20, 94%, 63%,.2);
--maize-crayola-bg: hsla(42, 93%, 64%, .2);
--pistachio-bg: hsla(94, 38%, 59%, .2);
--zomp-bg: hsla(162, 43%, 46%, .1);
--cadet-blue-bg: hsla(178, 30%, 43%, .2);
--queen-blue-bg: hsla(208, 25%, 45%, .2);
--cg-blue-bg: hsla(198, 61%, 39%, .2);
}

/* Make the toolbar line up with the TOC */
.summary > li:first-child {
    height: 50px;
    padding-top: 10px;
    border-bottom: 1px solid rgba(0,0,0,.07);
}

.book .book-summary ul.summary li.divider {
    height: 0px;
}

/*____Code Chunks____*/

.sourceCode pre {
  margin: 0 !important; /* makes space above and below symmetrical*/
}

.sourceCode {
  margin-bottom: 0.85em; /* adds same amount of margin as a <p> would */
}

div.figure{
  text-align:center;
}
p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

.watchout,.learn-more,.note,.my-opinion,.tryitout,.go-read,.ex{
  background-origin:padding-box!important;
  background-repeat: no-repeat!important;
  background-size:10% auto!important;
  padding:5px 5px 5px 11%!important;
  min-width:99%!important;
  min-height:4em!important;
  /*margin: 20px 20px;*/
  box-shadow: 10px white!important;
}

.watchout {
  background-image:url(theme/warning.svg)!important;
  box-shadow: 0 0 0 1px var(--red-salsa),
              0 0 0 10px white!important;
}

.ex {
  padding:5px 5px 5px 5px;
  margin: 0 0 0 0;
  background-image:url(theme/brain.svg);
  background-color: var(--orange-red-bg);
  box-shadow: 0 0 0 1px var(--orange-red);
}
.ex .panel-tabset {
  background-color: white;
  box-shadow: 0 0 0 1px var(--orange-red);
}

.my-opinion{
  background-image:url(theme/comment.svg);
  /*background-color: var(--maize-crayola-bg);*/
  box-shadow: 0 0 0 1px var(--maize-crayola),
              0 0 0 10px white;
}

.go-read{
  background-size:5% auto!important;
  padding:5px 5px 5px 6%!important;
  background-image:url(theme/eyes.svg);
  box-shadow: 0 0 0 1px var(--pistachio),
              0 0 0 10px white;
}

section.tryitout {
  background-size:5% auto;
  padding:5px 5px 5px 6%;
  min-width:99%;
  min-height:3em;
  background-image:url(theme/tryitout.svg);
  background-color: var(--zomp-bg);
  box-shadow: 0 0 0 1px var(--zomp),
              0 0 0 10px white;
}

.tryitout > h3, .tryitout > h4, .tryitout > h5, .tryitout > h6 {
  color: var(--zomp);
  margin-top: 0 !important;
  margin-bottom:0 !important;
}

.tryitout .panel-tabset {
  background-color: white;
  box-shadow: 0 0 0 1px var(--zomp);
}
/*
.tryitout h1, .tryitout h2, .tryitout h3, .tryitout h4, .tryitout h5, .tryitout h6 {
  margin-top: 0 !important;
  margin-bottom:0 !important;
  color:var(--zomp);
}*/


section.learn-more{
  background-image:url(theme/learnmore.svg);
  box-shadow: 0 0 0 1px var(--cadet-blue),
              0 0 0 10px white;
  min-height:6em;
}

.learn-more > h3, .learn-more  > h4, .learn-more > h5 , .learn-more > h6 {
  color: var(--cadet-blue);
  margin-top: 0 !important;
  margin-bottom:0 !important;
}

.note {
  background-image:url(theme/notethat.svg);
  background-color: var(--cg-blue-bg);
  box-shadow: 0 0 0 1px var(--cg-blue),
              0 0 0 10px white;
}

details[open] {
  border:2px;
  border-style: solid #226765;
  background: #fcfcfc;
}

details:before {
  content: " ";
  padding-top:2em;
}

details:after {
  content: " ";
  margin-bottom:4em;
}

details img {
  margin-left:auto;
  margin-right:auto;
}

details.ex {
  padding:5px 5px 5px 5px;
  background-color: var(--orange-red-bg);
}
details.ex[open]{
  background: var(--orange-red-bg);
}
summary::-webkit-details-marker {
  display: none
}

summary:before {
  font-family: 'FontAwesome';
  color: #226765;
  font-size: 1em;
  font-weight: bold;
  width: 20px;
  white-space: pre;
  word-wrap: break-word;
}

summary:before{
  content: "\f05a\00a0\00a0";
}

details[open] summary:before {
  font-family: 'FontAwesome';
  content: "\f057\00a0\00a0";
  background-color: #db940022;
  color: #000000;
}


details.ex summary:before{
  color: var(--orange-red);
}

details.ex[open] summary:before {
  color: var(--orange-red);
}

summary.linux:before{
  content: "\f17c\00a0\00a0" !important;
}
summary.mac:before{
  content:"\f179\00a0\00a0" !important;
}
summary.windows:before{
  content:"\f17a\00a0\00a0" !important;
}


/* footnote counter to restart numbering for each chapter and subchapter
  thanks @romles https://stackoverflow.com/questions/50616517/restart-endnote-numbering-after-each-gitbook-style-web-chapter-in-r-bookdown
  thanks @ilyankou for update from footnote-ref to footnoteRef for bookdown 0.9, and .level1 to .page-inner for 0.15 */

  /* don't show the wrong footnote calls */
  .footnote-ref sup,
  .footnoteRef sup {
    display: none;
  }

  /* use a counter for footnote calls */
  .page-inner {
    counter-reset: fn-call;
  }

  .footnote-ref,
  .footnoteRef {
    counter-increment: fn-call;
  }

  /* generate new footnote calls */
  .footnote-ref::after,
  .footnoteRef::after {
    content: counter(fn-call);
    position: relative;
    top: -.5em;
    font-size: 85%;
    line-height: 0;
    vertical-align: baseline;
  }

  /* use a counter for footnotes numbering */
  .footnotes ol {
    list-style: none;
    counter-reset: fn-number;
  }

  .footnotes li {
    counter-increment: fn-number;
  }

  .footnotes p::before {
    content: counter(fn-number) '. ';
  }


.youtube-video-container {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.youtube-video-container::after {
  display: block;
  content: "";
  padding-top: 56.25%;
}

.youtube-video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
