/*____Code Chunks____*/

.sourceCode pre {
  margin: 0 !important; /* makes space above and below symmetrical*/
}

.sourceCode {
  margin-bottom: 0.85em; /* adds same amount of margin as a <p> would */
}

details[open] {
  border:2px;
  border-style: solid #226765;
  background: #fcfcfc;
}

details:before {
  content: " ";
  padding-top:2em;
}

details:after {
  content: " ";
  margin-bottom:4em;
}

details img {
  margin-left:auto;
  margin-right:auto;
}

details.ex {
  padding:5px 5px 5px 5px;
  background-color: var(--orange-red-bg);
}
details.ex[open]{
  background: var(--orange-red-bg);
}
summary::-webkit-details-marker {
  display: none
}

summary:before {
  font-family: 'FontAwesome';
  color: #226765;
  font-size: 1em;
  font-weight: bold;
  width: 20px;
  white-space: pre;
  word-wrap: break-word;
}

summary:before{
  content: "\f05a\00a0\00a0";
}

details[open] summary:before {
  font-family: 'FontAwesome';
  content: "\f057\00a0\00a0";
  background-color: #db940022;
  color: #000000;
}


details.ex summary:before{
  color: var(--orange-red);
}

details.ex[open] summary:before {
  color: var(--orange-red);
}

/* footnote counter to restart numbering for each chapter and subchapter
  thanks @romles https://stackoverflow.com/questions/50616517/restart-endnote-numbering-after-each-gitbook-style-web-chapter-in-r-bookdown
  thanks @ilyankou for update from footnote-ref to footnoteRef for bookdown 0.9, and .level1 to .page-inner for 0.15 */

  /* don't show the wrong footnote calls */
  .footnote-ref sup,
  .footnoteRef sup {
    display: none;
  }

  /* use a counter for footnote calls */
  .page-inner {
    counter-reset: fn-call;
  }

  .footnote-ref,
  .footnoteRef {
    counter-increment: fn-call;
  }

  /* generate new footnote calls */
  .footnote-ref::after,
  .footnoteRef::after {
    content: counter(fn-call);
    position: relative;
    top: -.5em;
    font-size: 85%;
    line-height: 0;
    vertical-align: baseline;
  }

  /* use a counter for footnotes numbering */
  .footnotes ol {
    list-style: none;
    counter-reset: fn-number;
  }

  .footnotes li {
    counter-increment: fn-number;
  }

  .footnotes p::before {
    content: counter(fn-number) '. ';
  }


.youtube-video-container {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.youtube-video-container::after {
  display: block;
  content: "";
  padding-top: 56.25%;
}

.youtube-video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.icon::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.twitter::before {
  font-family: "Font Awesome 5 Brands"; content: "\f099";
}