/*-- scss:defaults --*/

@import 'https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap';

$font-family: "Atkinson Hyperlegible", sans-serif;


/*-- scss:rules --*/

.nav-footer li a {
  padding: 10px 10px 10px 10px !important;
}

a > i {
  font-size: 2rem !important;
}


// In the default Quarto template, .nav-footer-center has position: absolute
// turned on, which makes the div not be a flex item
// This changes that so that it *is* a flex item
/*.nav-footer-center {
    text-align: center;
    position: inherit;
    margin-top: 0;

    @media (max-width: map-get($grid-breakpoints, md)) {
        margin-top: 0.5em;
        margin-bottom: 1.5em;
    }
}*/