annotated-types
anthropic
anyio
appdirs
astropy
astropy-iers-data
asttokens
attrs
autocommand
babel
backports-tarfile
beartype
beautifulsoup4
black
bs4
cachetools
camelot-py
certifi
cffi
cfgv
chardet
charset-normalizer
click
colorama
comm
contourpy
cryptography
cssselect
cycler
debugpy
decorator
distlib
distro
docstring-parser
dotenv
einops
elixir
et-xmlfile
executing
fake-useragent
fastjsonschema
filelock
filetype
fonttools
fsspec
ftfy
gapminder
google-auth
google-auth-oauthlib
google-genai
greenlet
griffe
gspread
h11
hammock-plot
hf-xet
html2text
html5lib
httpcore
httpx
huggingface-hub
identify
idna
importlib-metadata
importlib-resources
inflect
ipdb
ipykernel
ipython
ipython-pygments-lexers
jaraco-classes
jaraco-collections
jaraco-context
jaraco-functools
jaraco-text
jedi
jeepney
Jinja2
jiter
joblib
jpype1
jsonschema
jsonschema-specifications
jupyter-client
jupyter-core
keyring
kiwisolver
lxml
lxml-html-clean
markdown2
markdownify
markdown-it-py
marker-pdf
MarkupSafe
matplotlib
matplotlib-inline
mdurl
mizani
more-itertools
mpmath
msgpack
mypy-extensions
narwhals
nbclient
nbformat
nest-asyncio
networkx
nodeenv
numpy
nvidia-cublas-cu12
nvidia-cuda-cupti-cu12
nvidia-cuda-nvrtc-cu12
nvidia-cuda-runtime-cu12
nvidia-cudnn-cu12
nvidia-cufft-cu12
nvidia-cufile-cu12
nvidia-curand-cu12
nvidia-cusolver-cu12
nvidia-cusparse-cu12
nvidia-cusparselt-cu12
nvidia-nccl-cu12
nvidia-nvjitlink-cu12
nvidia-nvshmem-cu12
nvidia-nvtx-cu12
nycflights13
oauthlib
openai
opencv-python-headless
openpyxl
outcome
packaging
palmerpenguins
pandas
pandas-access
pandas-stubs
parse
parso
pathspec
patsy
pbr
pdf2image
pdfminer-six
pdfplumber
pdftext
pexpect
pillow
pip
pip-chill
pipdeptree
platformdirs
plotly
plotnine
plum-dispatch
polars
polars-runtime-32
pre-commit
prompt-toolkit
psutil
ptyprocess
pure-eval
pyarrow
pyasn1
pyasn1-modules
pycparser
pydantic
pydantic-core
pydantic-settings
pyee
pyerfa
Pygments
pymer4
pyparsing
pypdf
pypdfium2
pyppeteer
pyquery
pyreadr
pysocks
pytesseract
python-dateutil
python-dotenv
pytokens
pytz
PyYAML
pyzmq
quartodoc
RapidFuzz
referencing
regex
requests
requests-oauthlib
rich
rpds-py
rsa
safetensors
scikit-learn
scipy
seaborn
seaborn-objects-recipes
SecretStorage
selenium
setuptools
six
skimpy
sniffio
sortedcontainers
soupsieve
sphobjinv
SQLAlchemy
sqlalchemy-migrate
sqlparse
stack-data
statsmodels
surya-ocr
sympy
tabula-py
tabulate
Tempita
tenacity
threadpoolctl
tokenizers
tomli
torch
tornado
tqdm
traitlets
transformers
trio
trio-websocket
triton
typeguard
types-pytz
typing-extensions
typing-inspection
tzdata
urllib3
virtualenv
w3lib
watchdog
wcwidth
webencodings
websocket-client
websockets
wheel
wsproto
xlrd
xlwt
zipp
zope-interface
